*{
    padding: 0%;
    margin: 0%;

}
.boxBcg{
    width: 100%;
    height: 100vh;
    background: url(./images/game_background.png) center/cover;
    z-index: -100;
    position: absolute;
    top: 0;
    left: 0;
}
.boxGame{
    
}
#character{
    width: 5%;
    height: 5%; 

}
#canvas{
    position: absolute;
    border: 2px solid green;
}